@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
}

:root {
  --scroll: #b10f2e;
}

html {
  scroll-behavior: smooth;
}

html::-webkit-scrollbar {
  width: 0.7rem;
  border-radius: 20px;
}

html::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 20px;
}

html::-webkit-scrollbar-thumb {
  background: var(--scroll);
  border-radius: 20px;
}

body {
  background: #001524;
  /* #001524  #B10F2E*/
  color: white;
}

h1 {
  text-align: center;
  margin: 6.2rem auto 3.1rem;
  font-weight: 500;
}

form {
  width: 90%;
  max-width: 600px;
  margin: auto;
  height: 5rem;
  background: #091f2f;
  display: flex;
  align-items: center;
  border-radius: 8px;
}

form input {
  flex: 1;
  height: 100%;
  border: none;
  outline: none;
  background: transparent;
  color: white;
  font-size: 1.1rem;
  padding: 0 1.8rem;
}

form button {
  padding: 0 2.5rem;
  height: 100%;
  background: #b10f2e;
  color: white;
  font-size: 1.1rem;
  outline: none;
  border: none;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  cursor: pointer;
}

form button:hover {
  background: #e8153b;
}

::placeholder {
  color: white;
  font-size: 1.1rem;
}

#show-more {
  background: #b10f2e;
  color: #fff;
  border: none;
  outline: none;
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
  margin: 0.6rem auto 6.2rem;
  cursor: pointer;
  display: none;
}

#show-more:hover {
  background: #e8153b;
}

#search-result {
  width: 80%;
  margin: 6.2rem auto 3.1rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 2.5rem;
}

#search-result img {
  width: 100%;
  height: 14.3rem;
  object-fit: cover;
  border-radius: 5px;
  transition: transform 0.3s;
}

#search-result img:hover {
  transform: scale(1.1);
}

form button i {
  display: none !important;
}

@media (max-width: 768px) {
  #search-result {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }
}

@media (max-width: 445px) {
  form input {
    font-size: 1rem;
    padding: 0 1rem;
  }

  form button {
    padding: 0 1.5rem;
  }

  form button i {
    display: block !important;
  }
  form button div {
    display: none;
  }
}
